/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {

    // Pipeline parameters
    samplesheet            = "${baseDir}/assets/test_sample_table.csv"
    meta_data              = "${baseDir}/assets/test_meta_data.csv"

    project_name           = "project"
    outdir                 = "output"

    // Notebooks
    notebookA              = "${launchDir}/modules/local/moduleA/moduleA.qmd"

    // TCR parameters
    input_vdj_contigs      = "${baseDir}/data/SCRATCH_ALIGN:CELLRANGER_COUNT/**/outs/*"
    input_exp_table        = "${baseDir}/data/pipeline_info/samplesheet.valid.csv"
    input_annotator        = "SCRATCH_ANNOTATION:CELLTYPIST_ANNOTATION"
    input_annotated_object = "${baseDir}/data/SCRATCH_ANNOTATION:CELLTYPIST_ANNOTATION/data/*.h5ad"

    // Dataflow parameters
    skip_python            = false

    // Quarto parameters
    page_config            = "${launchDir}/assets/template/_quarto.yml"
    template               = "${launchDir}/assets/template/*"

}

docker {
    enabled      = true
    fixOwnership = true
}

process {
    container = 'nf-quarto:latest'
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'copy'
    afterScript = 'rm -rf tmp'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
