/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {

    // Pipeline parameters
    samplesheet              = "${baseDir}/assets/test_sample_table.csv"
    meta_data                = "${baseDir}/assets/test_meta_data.csv"

    project_name             = "project"
    outdir                   = "output"

    // Notebooks
    notebook_tcr_quality     = "${baseDir}/modules/local/scirpy/quality_control/notebook_scirpy_qc.qmd"
    notebook_tcr_integration = "${baseDir}/modules/local/scirpy/integration/notebook_scirpy_integration.qmd"

    // TCR parameters
    input_vdj_contigs        = "${baseDir}/data/SCRATCH_ALIGN:CELLRANGER_VDJ/**/outs/*"
    input_exp_table          = "${baseDir}/data/pipeline_info/samplesheet.valid.csv"
    input_annotated_object   = "${baseDir}/data/**/*.h5ad"

    clonotype_definition     = "VDJ"
    distance_metric          = "identity"
    sequence_type            = "aa"

    // Dataflow parameters
    skip_python              = false

    // Quarto parameters
    page_config              = "${baseDir}/assets/template/_quarto.yml"
    template                 = "${baseDir}/assets/template/*"

    // Max resource options
    max_cpus                 = 24
    max_memory               = '128.GB'
    max_time                 = '240.h'

}

// Singularity to Docker parameters
def getContainerOptions (executor) {
    if (executor == 'docker') {
        return '-u root:root -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    } else if (executor == 'singularity') {
        return '--env USERID=$UID --env XDG_CACHE_HOME=tmp/quarto_cache_home --env XDG_DATA_HOME=tmp/quarto_data_home --env QUARTO_PRINT_STACK=true'
    } else {
        return ''
    }
}

process {
    containerOptions = { getContainerOptions(workflow.containerEngine) }
    stageInMode = 'copy'
}

// Load nf-core custom profiles from different Institutions
profiles {

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        docker.fixOwnership    = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    test { includeConfig 'conf/test.config' }

}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}                                                                                                                                                                                                                                                                                                                                                                                          