process {

    withName: "SCIRPY_QUALITY" {
        ext.args = {
            [
                params.project_name ? "project_name:${params.project_name}" : '',
                "work_directory:\$PWD"
            ].join(' -P ').trim()
        }
        ext.when = { params.organism == "Human" && !params.skip_sctype }
        publishDir = [
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '{data/*,figures/*}',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/" },
                pattern: 'report/*.html',
                mode: 'copy',
                overwrite: true
            ],
            [
                path: { "${params.outdir}/data/${task.process}" },
                pattern: '_freeze/**/figure-html/*.png',
                saveAs: { file -> file.endsWith('.png') ? "figures/${file.split('/').last()}" : null },
                mode: 'copy',
                overwrite: true
            ],
        ]
    }

    withName: "SCIRPY_INTEGRATION" {
        publishDir = [
            path:{ "${params.outdir}/${params.project_name}" },
            mode: 'copy'
        ]
    }

}


