process {

    withLabel:process_medium {
        cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
    }

}

params {
    // Limit resources so that this can run on GitHub Actions

    input_seurat_object = "${baseDir}/data/Ovarian_main_cluster_object.20k.RDS"
    input_cell_mask     = "${baseDir}/assets/NO_FILE"
    outdir              = 'output'

    max_cpus            = 8
    max_memory          = '20.GB'
    max_time            = '6.h'
    
}